body { 
	background-color: #FDFDFD; 
}

.container-fluid {
	padding: 0;
}

fieldset {
	margin: 0 0 30px 0;
	padding: 20px 25px 20px 10px;
	border: 1px solid #CCC;
}

input, select {
	margin-bottom: 8px;
}

legend {
	font-size: 1.3em;
	margin: 0;
	padding: 0 10px 0 10px;
	width: auto;
	border: none;
}

.joins fieldset {
	background-image: linear-gradient(to right, #FDFDFD 30%, #009688);
}

.selects fieldset {
	background-image: linear-gradient(to right, #FDFDFD 30%, #FF5722);
}