body { 
	background-color: #FDFDFD; 
}

.container-fluid {
	padding: 0;
}

fieldset {
	margin: 0 0 20px 0;
	padding: 20px 25px 20px 10px;
	border: 1px solid #CCC;
}

input, select {
	margin-bottom: 8px;
}

legend {
	font-size: 1.2em;
	font-weight: 700;
	margin: 0;
	padding: 0 10px 0 10px;
	width: auto;
	border: none;
}

/*http://www.google.com/design/spec/style/color.html#color-color-palette*/

/*.joins fieldset {
	background-image: linear-gradient(to right, #009688 30%, #00695C);
}*/

/*.selects fieldset {
	background-image: linear-gradient(to right, #F44336 30%, #C62828);
}*/