div(class="alert alert-warning alert-dismissible" role="alert")
  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
    span(aria-hidden="true") &times;
  strong Oh, hello. &nbsp;
  | A cached schema has been loaded for you to play with, but you can't actually
  | build any SQL without the API running. You are encouraged to clone the QB repo 
  | and do a `npm install -g gulp; npm install; gulp start` to see it in action.