fieldset

  //- Select model.
  div.select-model(class="form-group")
    label(class="col-sm-1 col-xs-2 control-label") From:

    div(class="col-sm-3 col-xs-10")
      select(name="model" class="form-control")
        option(disabled selected) ...
        each table in collection.toJSON()
          - var isSelected = model && model.id === table.id
          option(value=table.name selected=isSelected) #{table.name}

  .selects
  .groupBys
  .filters
  .fieldsets
  hr

  div(class="btn-group")
    a.join-btn(href="#" class="btn btn-default") Join something

    if (!isRoot)
      a.unjoin-btn(href="#" class="btn btn-default") Remove join