
//- Select model.
div.select-model(class="form-group")
  label(class="col-sm-1 col-xs-12 control-label") Include:

  div(class="col-sm-3 col-xs-6")
    select(name="model" class="form-control")
      option(disabled selected) something
        if isRoot
          each table in tables.toJSON()
            - var isSelected = model && table.id === model.get(0).value
            option(value=table.id selected=isSelected) #{table.name}

  div(class="btn-group col-sm-8 col-xs-6")
    if (model)
      a.add-btn(href="#" class="btn btn-default")
        span(class="glyphicon glyphicon-plus")
    if (!isRoot)
      a.remove-btn(href="#" class="btn btn-default")
        span(class="glyphicon glyphicon-minus")

.joins