form(role="form" class="form-horizontal")
  .joins
  .selects
  .wheres
    button(type="button" class="btn btn-link add-filter") Add filter

  #result
  br
  button(class="btn btn-success" type="submit") Build SQL